form h2 {
  text-align: center;
  margin-bottom: 1.75rem;
  text-transform: capitalize;
  font-weight: 500;
  color: #a354f8;
  font-size: 26px;
  letter-spacing: 0.5px;
  position: relative;
  padding-bottom: 15px;
}

form h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 2px;
  background: linear-gradient(90deg, transparent, #d7c6ff, transparent);
}

/* Form control */
.form-control {
  display: grid;
  grid-template-columns: 1fr 100px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(255, 150, 177, 0.1);
  margin-bottom: 25px;
}

.form-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  background: #fffbfc;
  font-size: 16px;
  color: #7a6a6a;
  outline: none;
}

.form-input::placeholder {
  color: #b9cad4;
  font-style: italic;
}

.form-control .btn {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(135deg, #a89eff, #a085ff);
  border: none;
  padding: 0.75rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-control .btn:hover {
  background: linear-gradient(135deg, #c885ff, #e169ff);
  box-shadow: 0 4px 12px rgba(166, 128, 190, 0.3);
}